body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
    text-align: center;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    color: #4b0000;
}
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
.dark-mode h1 {
    color: #a0c4ff;
}
#dark-mode-toggle {
    padding: 10px 20px;
    border: none;
    background-color: #8b0404;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}
.dark-mode #dark-mode-toggle {
    background-color: #0084f0;
}